*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#seccion-dos{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.contenedor-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    flex-wrap: wrap;
}
.contenedor-servicios .servicio{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    row-gap: 3rem;
    padding: 3rem;
    border-radius: 1rem;
}
